<div class="regis_background">

  <div class="regis_container">
  
    <div class="disc_box">
      <div class="disc_large">
        <p>topページtopページ</p>
        <p>topページtopページ</p>
      </div>
  
      <div class="disc_small">
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
      </div>
    </div>
  
    <div class="regis_box">

        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
        <p>topページtopページ</p>
  
    </div>
  
  </div>

</div>