/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  background-image: url(/images/rain.jpg);
  background-size: cover;
  margin:0;
  padding:0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

header {
  background-color: #64B5F7;
  height:100px;
}

footer {
  background-color: #64B5F7;
  height:100px;
  bottom:0;
  padding:0 auto;
}

footer div{
  width:300px;
  margin:30px auto;
  padding-left:100px;
}

footer a{
  font-weight: bold;
  color:white;
  text-decoration: none;
}

main {
  flex: 1;
}

ul {
  list-style-type: decimal; 
}

#error_explanation {
  padding:10px 0px 0px 320px;
  color:deeppink;
  height:100%;
}

#error_explanation_partial {
  padding:10px 0px 0px 440px;
  color:deeppink;
  height:100%;

}

.error_explanation_small {
  font-size: 10px;
  padding:10px 0px 0px 300px;
  color:deeppink;
  height:100%;
}

.field_with_errors {
  display: contents;
}

.login_error_message {
  text-align: center;
  color:deeppink;
  margin-bottom:16px;
  margin-right: 21px;
}

.forgot_password_box {
  text-align: center;
  background-color:white;
  width:900px;
  height:auto;
  margin: 80px auto 30px auto;
  border-radius: 4px;
  padding:100px 0;
}

.forgot_password_actions{
  margin-right: 50px;
}

.change_password_field {
  margin-right: 50px;
}

.header_logo{
  color:white;
  font-size: 60px;
  font-weight:bold;
  width:300px;
  margin:0px auto;
  padding-top:10px;
  padding-left:70px;
}

.app_name {
  font-size: 80px;
  color:#1a76d2;
  margin:0 0 20px 0;
  padding:0;
}

.app_name_sentence{
  font-size: 16px;
  font-weight:bold;
  color:#1a76d2;
  margin:0 0 0 25px;
  padding:0;
}

.field {
  font-weight:bold;
  text-align: right;
  color:#616161;
}

.email_and_pass_form {
  width:290px;
  margin:0 auto;
  padding-right:80px;
}

.app_title {
  width:340px;
  margin:100px auto 0 auto;
}

.actions {
  width:100px;
  margin:10px auto 0 auto;
}

.top_bottom_etc {
  text-align: center;
  font-size: 10px;
  width:250px;
  margin:10px auto 0 auto;
  padding-right:50px;
}

.top_bottom_etc a {
  color:#616161;
  transition: 0.8s ;
}

.top_bottom_etc a:hover {
  color:deeppink;
  transition: 0.1s ;

}

.navi_box {
  background-color:white;
  width:900px;
  height:50px;
  margin: 70px auto 0 auto;
  border-radius: 4px;
}

.navi_box h2{
  color:#616161;
  margin:0;
  padding-top:6px;
  padding-left:20px;
  float:left;
}

.navi_box p{
  color:#616161;
  font-size:20px;
  margin:0;
  padding-top:10px;
  padding-left:20px;
  float:left;
}

.bottom_box {
  background-color:linen;
  text-align:center;
  font-size:30px;
  font-weight:bold;
  width:900px;
  height:48px;
  margin: 10px auto 50px auto;
  padding-top:5px;
  border-radius: 4px;
}

.bottom_box a {
  color:hotpink;
  text-decoration-line: none;
}

.navi_search {
  color:#616161;
  float:right;
  margin-top:12px;
  margin-right:20px;
}

.navi_search span {
  color:#616161;
  font-size:13px;
}

.main_box {
  background-color:white;
  width:900px;
  height:auto;
  margin: 30px auto 30px auto;
  border-radius: 4px;
}

.main_box table {
  margin: 20px 30px;
  padding-top: 10px;
}

.main_box tr {
  color:#616161;
}

.main_box td {
  border-top:1px solid #616161;
  color:#616161;
  padding:5px;
}

.table_border {
  transition-duration: 0.5s;
}

.table_border:hover {
  background-color: #E6EFF4;
  transition-duration: 0.3s;
}

.start_box{
  height:auto;
  padding-bottom:auto;
}

.start_form {
  text-align: center;
  height:270px;
  color:#616161;
  font-weight:bold;
  padding-top:20px;
  padding-bottom:30px;
  margin-bottom:30px;
}

.start_label {
  font-size: 21px;
}

.start_navi {
  text-align: center;
  font-size: 10px;
  width:250px;
  margin:0 auto;
  padding-right:20px;
  color:#616161;
}

.start_navi h1 {
  margin:10px 0 0 0;
  padding-top:10px;
}

.main_name {
  width: 180px;
}

.main_area {
  width: 250px;
}

.main_gender {
  width: 100px;
}

.main_age {
  width: 100px;
}

.main_my_profile {
  width: 180px;
}

.profile_img {
  width: 140px;
}

.profile_left {
  border:1px solid #616161;
  border-radius: 5px;
  width:200px;
  float:left;
  margin:20px 20px 20px 30px;
  padding:20px 0;
}

.profile_left div{
  text-align: center;
  margin-top:5px;
}

.profile_right {
  height:330px;
  width:600px;
  margin-left:280px;
}

.prof_area {
  color:#616161;
  margin-left:10px;
  padding-top:20px;
  height: 100px;
}

.prof_area p {
  margin:0;
  padding:0;
  font-size: 36px;
}

.prof_area h2{
  margin:0;
  padding:0;
  color:#616161;
}

.prof_intro {
  color:#616161;
  margin-left:0px;
  padding:10px;
  height: 120px;
  width:550px;
}

.prof_bottom {
  margin-left:10px;
  padding:10px;
  width:550px;
}

.prof_bottom_float {
  float:right;
}

.edit_box {
  text-align: center;
  padding:50px;
}

.message_box {
  padding:20px;
}

.sample_user {
  padding-right:130px;
}