/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* メインカラー */
$dark-green: #8ac6d1;
$light-green: #bbded6;
$dark-pink: #ffb6b9;
$light-pink: #fae3d9;
$dark-grey: #444;
$middle-grey: #999999;
$light-grey: #F7F7F7;

/* ブレークポイント */
$break-point-Mobile: 481px;
$break-point-PC: 960px;


/* スマホサイズの設定 */
@media (min-width: $break-point-Mobile) {
  
}

/* PCサイズの設定 */
@media (min-width: $break-point-PC) {
  
}

body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 1em;
  min-width: 80em;
  min-height: 100vh;
  margin:0;
  padding:0;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
  a {
    text-decoration: none;
  }
}

header {
  background-color: $dark-green;
  height: 5em;
  width: 100%;
  z-index: 2;
  div.header_block {
    width: 80em; /* 共通の横幅 =1280px */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  div.header_left {
    height: 3em;
    color: white;
    padding: 1.2em 0 0 0;
    margin-left: 5em;
  }
  div.header_center {
    height: 3em;
  }
  div.header_right {
    height: 3em;
    margin: 1.4em 5em 0 0;
  }
  div.header_prof_img {
    height: 3em;
    margin: 1em 5em 0 0;
    img {
      width: 3em;
      height: 3em;
      border-radius: 3em;
      background-color: white;
      object-fit: cover;
      margin: 0;
    }
  }
  img.raynee-logo {
    height: 3em;
  }
  a.register_link {
    width: auto;
    color: $dark-grey;
    font-size: 1.4em;
    background-color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    white-space: nowrap;
    transition: 0.3s;
    &:hover {
      color: $dark-pink;
      transition: 0.1s;
    }
  }
}

footer {
  height:0;
  bottom:0;
  padding:0 auto;
  div {
    width:300px;
    margin:30px auto;
    padding-left:100px;

  }
  a {
    font-weight: bold;
    color:white;
    text-decoration: none;
  }
}

main {
  flex: 1;
}

ul {
  list-style-type: decimal; 
}

#error_explanation {
  padding:10px 0px 0px 320px;
  color:deeppink;
  height:100%;
}

.regis_error_messages {
  display: flex;
  justify-content: center;
}

#error_explanation_partial {
  color: $dark-pink;
  height: 2em;
  margin-bottom: 5em;
  padding-bottom: 2em;
}

.error_explanation_small {
  font-size: 10px;
  padding:10px 0px 0px 300px;
  color:deeppink;
  height:100%;
}

.field_with_errors {
  display: contents;
}

.login_error_message {
  text-align: center;
  color:$dark-pink;
  padding-bottom:-3em;
}

.forgot_password_box {
  text-align: center;
  background-color:white;
  width:900px;
  height:auto;
  margin: 80px auto 30px auto;
  border-radius: 4px;
  padding:100px 0;
}

.forgot_password_actions{
  margin-right: 50px;
}

.change_password_field {
  margin-right: 50px;
}



















.top_bottom_etc {
  text-align: center;
  font-size: 10px;
  width:250px;
  margin:10px auto 0 auto;
  padding-right:50px;
  a {
    color:#616161;
    transition: 0.5s ;
    &:hover {
      color:deeppink;
      transition: 0.1s ;
    }
  }
}







