@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* メインカラー */
/* ブレークポイント */
/* スマホサイズの設定 */
/* PCサイズの設定 */
body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 1em;
  min-width: 80em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
}

body a {
  text-decoration: none;
}

header {
  background-color: #8ac6d1;
  height: 5em;
  width: 100%;
  z-index: 2;
}

header div.header_block {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header div.header_left {
  height: 3em;
  color: white;
  padding: 1.2em 0 0 0;
  margin-left: 5em;
}

header div.header_center {
  height: 3em;
}

header div.header_right {
  height: 3em;
  margin: 1.4em 5em 0 0;
}

header img.raynee-logo {
  height: 3em;
}

header a.register_link {
  width: auto;
  color: #444;
  font-size: 1.4em;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
  white-space: nowrap;
  transition: 0.3s;
}

header a.register_link:hover {
  color: #ffb6b9;
  transition: 0.1s;
}

footer {
  height: 0;
  bottom: 0;
  padding: 0 auto;
}

footer div {
  width: 300px;
  margin: 30px auto;
  padding-left: 100px;
}

footer a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
}

.regis_background, .login_background {
  background-image: url(/images/rain.jpg);
  background-size: cover;
  min-height: 100vh;
}

.start_background {
  background-image: url(/images/undraw_raining_sguh.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 100vh;
}

ul {
  list-style-type: decimal;
}

.login_container {
  width: 80em;
  margin: 0 auto;
  display: flex;
}

.login_container div.login_box {
  width: 28em;
  height: auto;
  margin: 4.8em auto;
  padding-bottom: 3.6em;
  background-color: white;
  border: solid thin #8ac6d1;
  border-radius: 0.3em;
}

.login_container div.login_box div.remember_and_submit_form {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 0.7em;
}

.login_container div.login_box div.remember_and_submit_form a {
  color: #999999;
  font-weight: lighter;
  transition: 0.5s;
}

.login_container div.login_box div.remember_and_submit_form a:hover {
  color: #ffb6b9;
  transition: 0.1s;
}

.login_container div.login_box div.remember_and_submit_form div.field {
  width: 15em;
  text-align: center;
  color: #999999;
  font-weight: lighter;
  margin: 0 auto;
  padding-top: 1em;
}

.login_container div.login_box div.remember_and_submit_form input[type=checkbox] {
  display: none;
}

.login_container div.login_box div.remember_and_submit_form input[type="checkbox"] + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 25px;
  padding-right: 10px;
}

.login_container div.login_box div.remember_and_submit_form input[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  left: 0;
  top: 50%;
  border: 1px solid;
  border-color: #999999;
  /* 枠の色 */
  border-radius: 0.2em;
  background-color: #FFF;
  /* 背景の色 */
}

.login_container div.login_box div.remember_and_submit_form input[type="checkbox"]:checked + label::after {
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 9px;
  margin-top: -9px;
  top: 50%;
  left: 3px;
  transform: rotate(-45deg);
  border-bottom: 3px solid;
  border-left: 3px solid;
  border-color: #ffb6b9;
  /* チェックの色 */
}

.regis_container {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.regis_container div.regis_box {
  width: 28em;
  height: auto;
  margin: 4.8em 5em 5em 0;
  padding-bottom: 3em;
  background-color: white;
  border: solid thin #8ac6d1;
  border-radius: 0.3em;
}

.regis_container div.regis_box div.email_and_pass_form {
  width: auto;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}

.regis_container div.regis_box div.email_and_pass_form div.field {
  margin-top: 1em;
  color: #999999;
  font-weight: lighter;
}

.regis_container div.regis_box div.email_and_pass_form div.field_remember {
  width: 17.1em;
  margin-top: 1.5em;
  color: #999999;
  font-weight: lighter;
}

.regis_container div.regis_box div.email_and_pass_form div.field_age, .regis_container div.regis_box div.email_and_pass_form div.field_gender {
  margin-top: 1.5em;
  color: #999999;
  font-weight: lighter;
}

.regis_container div.regis_box div.email_and_pass_form div.field_age label, .regis_container div.regis_box div.email_and_pass_form div.field_gender label {
  margin-left: 0.1em;
}

.regis_container div.regis_box div.email_and_pass_form div.gender_and_age {
  width: 19em;
  margin: 0;
  padding: 0;
}

.regis_container div.regis_box div.email_and_pass_form input[type=email] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.regis_container div.regis_box div.email_and_pass_form input[type=email]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.regis_container div.regis_box div.email_and_pass_form input[type=text] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.regis_container div.regis_box div.email_and_pass_form input[type=text]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.regis_container div.regis_box div.email_and_pass_form input[type=password] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.regis_container div.regis_box div.email_and_pass_form input[type=password]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.regis_container div.regis_box div.email_and_pass_form select {
  border: solid thin #999999;
  height: 1.5em;
  width: auto;
  border-radius: 0.2em;
  color: #999999;
  padding: 0 2.5em 0 0.5em;
  outline: none;
  text-indent: 0em;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  z-index: 1;
}

.regis_container div.regis_box div.email_and_pass_form select option {
  background-color: #fff;
  color: #999999;
}

.regis_container div.regis_box div.email_and_pass_form select::-ms-expand {
  display: button;
}

.regis_container div.regis_box div.email_and_pass_form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #999999;
}

.regis_container div.disc_box {
  height: 30em;
  margin: 4em 3em 5em 4.9em;
  color: #444;
}

.regis_container div.disc_box div.disc_large {
  font-size: 3.2em;
  font-weight: bold;
}

.regis_container div.disc_box div.disc_large p {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.regis_container div.disc_box div.disc_small {
  font-size: 1.6em;
  margin-top: 1em;
}

.regis_container div.disc_box div.disc_small p {
  margin: 0;
  padding: 0.1em;
  white-space: nowrap;
}

#error_explanation {
  padding: 10px 0px 0px 320px;
  color: deeppink;
  height: 100%;
}

.regis_error_messages {
  display: flex;
  justify-content: center;
}

#error_explanation_partial {
  color: #ffb6b9;
  height: 2em;
  margin-bottom: 5em;
  padding-bottom: 2em;
}

.error_explanation_small {
  font-size: 10px;
  padding: 10px 0px 0px 300px;
  color: deeppink;
  height: 100%;
}

.field_with_errors {
  display: contents;
}

.login_error_message {
  text-align: center;
  color: #ffb6b9;
  padding-bottom: -3em;
}

.forgot_password_box {
  text-align: center;
  background-color: white;
  width: 900px;
  height: auto;
  margin: 80px auto 30px auto;
  border-radius: 4px;
  padding: 100px 0;
}

.forgot_password_actions {
  margin-right: 50px;
}

.change_password_field {
  margin-right: 50px;
}

.email_and_pass_form {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
}

.email_and_pass_form div.field {
  margin-top: 1em;
  color: #999999;
  font-weight: lighter;
}

.email_and_pass_form div.field_remember {
  width: 17.1em;
  margin-top: 1.5em;
  color: #999999;
  font-weight: lighter;
}

.email_and_pass_form div.field_age, .email_and_pass_form div.field_gender {
  margin-top: 1.5em;
  color: #999999;
  font-weight: lighter;
}

.email_and_pass_form div.gender_and_age {
  width: 19em;
  margin: 0;
  padding: 0;
}

.email_and_pass_form input[type=email] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.email_and_pass_form input[type=email]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.email_and_pass_form input[type=text] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.email_and_pass_form input[type=text]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.email_and_pass_form input[type=password] {
  height: 1.5em;
  width: 23em;
  padding: 0.2em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.email_and_pass_form input[type=password]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.email_and_pass_form select {
  border: solid thin #999999;
  height: 1.5em;
  width: auto;
  border-radius: 0.2em;
  color: #999999;
  padding: 0 0.5em;
  outline: none;
  text-indent: 0.01px;
  text-overflow: '';
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}

.email_and_pass_form select option {
  background-color: #fff;
  color: #333;
}

.email_and_pass_form select::-ms-expand {
  display: none;
}

.email_and_pass_form select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #828c9a;
}

.login_button_container, .regis_button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.login_button_container div.login_button, .login_button_container div.regis_button, .regis_button_container div.login_button, .regis_button_container div.regis_button {
  margin: 2em auto 0 auto;
}

.login_button_container div.login_button input[type="submit"], .login_button_container div.regis_button input[type="submit"], .regis_button_container div.login_button input[type="submit"], .regis_button_container div.regis_button input[type="submit"] {
  height: 2.1em;
  line-height: 0;
  width: auto;
  border-style: none;
  font-size: 1.4em;
  white-space: nowrap;
  padding: 0 1em;
  border-radius: 1em;
  color: white;
  background: #ffb6b9;
  transition: 0.3s;
}

.login_button_container div.login_button input[type="submit"]:hover, .login_button_container div.regis_button input[type="submit"]:hover, .regis_button_container div.login_button input[type="submit"]:hover, .regis_button_container div.regis_button input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s;
}

.sample_user {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.sample_user div.login_button {
  margin: 2em auto 0 auto;
}

.sample_user div.login_button input[type="submit"] {
  height: 2.1em;
  line-height: 0;
  width: auto;
  border-style: none;
  font-size: 1.2em;
  white-space: nowrap;
  padding: 0 1em;
  border-radius: 1em;
  color: white;
  background: #ffb6b9;
  transition: 0.3s;
}

.sample_user div.login_button input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s;
}

.start_container {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.start_container div.start_box {
  width: 30em;
  height: auto;
  margin: 4.8em 5em 0 0;
  padding: 0 2em;
  background-color: white;
  border: solid thin #8ac6d1;
  border-radius: 0.3em;
}

.start_container div.start_box div.start_form {
  width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2em;
}

.start_container div.start_box div.start_form div.field {
  margin-top: 1em;
  color: #444;
  font-size: 1.3em;
  font-weight: lighter;
  display: flex;
}

.start_container div.start_box div.start_form div.field div.start_label {
  margin-top: 0.1em;
}

.start_container div.start_box div.start_form div.field input[type=text] {
  height: 1.5em;
  width: 13em;
  padding: 0.2em;
  margin-left: 0.5em;
  font-size: 0.8em;
  text-indent: 0.5em;
  border: solid thin #999999;
  border-radius: 0.2em;
}

.start_container div.start_box div.start_form div.field input[type=text]:focus {
  border: solid thin #ffb6b9;
  outline: 0;
}

.start_container div.start_box group + group {
  margin-top: 20px;
}

.start_container div.start_box .inline-radio {
  display: flex;
  border-radius: 0.2em;
  overflow: hidden;
  border: solid thin #999999;
  margin-left: 0.45em;
}

.start_container div.start_box .inline-radio div {
  position: relative;
  flex: 1;
}

.start_container div.start_box .inline-radio input {
  width: 7em;
  height: 1.7em;
  opacity: 0;
}

.start_container div.start_box .inline-radio label {
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 0;
  color: #999999;
  width: 5em;
  height: 5em;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border-right: 1px solid #b6b6b6;
  text-align: left;
  padding-left: 0.2em;
}

.start_container div.start_box .inline-radio div:last-child label {
  border-right: 0;
}

.start_container div.start_box .inline-radio input:checked + label {
  background: #ffb6b9;
  font-weight: 500;
  color: #fff;
}

.start_button_container {
  display: flex;
}

.start_button_container div.start_button {
  margin: 3em auto 3em auto;
}

.start_button_container div.start_button input[type="submit"] {
  height: 2.1em;
  line-height: 0;
  width: auto;
  border-style: none;
  font-size: 1.4em;
  white-space: nowrap;
  padding: 0 1em 0 1em;
  border-radius: 1em;
  color: white;
  background: #ffb6b9;
  transition: 0.3s;
}

.start_button_container div.start_button input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.1s;
}

.top_bottom_etc {
  text-align: center;
  font-size: 10px;
  width: 250px;
  margin: 10px auto 0 auto;
  padding-right: 50px;
}

.top_bottom_etc a {
  color: #616161;
  transition: 0.5s;
}

.top_bottom_etc a:hover {
  color: deeppink;
  transition: 0.1s;
}

.main_container {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  display: flex;
}

.navi_box {
  background-color: #F7F7F7;
  width: 13.5em;
  height: auto;
  margin: 5em 0 0 5em;
  border-radius: 0.2em;
  position: sticky;
  top: 0;
}

.navi_box div.state_umbrella {
  width: 100%;
  height: 2em;
  background: #bbded6;
  border-radius: 0.2em 0.2em 0 0;
  color: #444;
}

.navi_box div.state_umbrella p {
  text-align: center;
  padding-top: 0.3em;
  margin: 0;
}

.navi_box div.navi_prof_pic {
  width: 100%;
  text-align: center;
}

.navi_box div.navi_prof_pic img {
  width: 6em;
  height: 6em;
  border: 0.1em solid #444;
  border-radius: 5em;
  margin: 2em 0 1em 0;
  background-color: white;
}

.navi_box div.navi_prof_name {
  width: 100%;
  text-align: center;
}

.navi_box div.navi_prof_name p {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}

.navi_box div.navi_prof_mypage {
  width: 100%;
  text-align: center;
}

.navi_box div.navi_prof_mypage p {
  font-size: 1em;
  margin: 0;
}

.navi_box div.navi_prof_mypage p a {
  color: #444;
  transition: 0.3s;
}

.navi_box div.navi_prof_mypage p a:hover {
  color: #ffb6b9;
  transition: 0.1s;
}

.navi_box div.navi_prof_notification {
  width: 100%;
  height: 5em;
  background-color: #fae3d9;
  margin: 1em 0;
}

.navi_box div.navi_prof_state {
  width: 100%;
  height: 5em;
  background-color: #ffb6b9;
  margin: 1em 0;
}

.navi_box div.navi_prof_logout {
  margin: 5em auto;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 2em;
}

.navi_box div.navi_prof_logout a {
  width: 10em;
  height: 2em;
  padding: 0.7em;
  background-color: #8ac6d1;
  border-radius: 3em;
  color: white;
  transition: 0.3s;
}

.navi_box div.navi_prof_logout a:hover {
  opacity: 0.8;
  transition: 0.1s;
}

.confirm_box {
  background-color: linen;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 900px;
  height: 48px;
  margin: 30px auto 0px auto;
  padding-top: 5px;
  border-radius: 4px;
}

.confirm_box a {
  color: hotpink;
  text-decoration-line: none;
}

.notificaion_box {
  background-color: linen;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 900px;
  height: 48px;
  margin: 30px auto 0px auto;
  padding-top: 5px;
  border-radius: 4px;
}

.notificaion_box a {
  color: hotpink;
  text-decoration-line: none;
}

.main_box {
  position: relative;
  background-color: #F7F7F7;
  width: 100%;
  height: auto;
  margin: 5em 5em 0 5em;
  border-radius: 0.2em;
  z-index: 0;
}

.main_box div.navi_search {
  color: #444;
  height: 3em;
  margin-top: 1em;
  margin-right: 2em;
  padding-top: 1em;
  display: flex;
  flex-direction: row-reverse;
  position: sticky;
  top: 0;
  background-color: #F7F7F7;
}

.main_box div.navi_search span {
  color: #444;
  font-size: 13px;
}

.main_box div.navi_profile {
  color: #444;
  height: 3em;
  margin-top: 1em;
  margin-left: 3em;
  padding-top: 0.5em;
  top: 0;
  background-color: #F7F7F7;
}

.main_box div.navi_profile a {
  font-size: 1.3em;
  color: #999999;
  transition: 0.3s;
  padding-left: 0.5em;
}

.main_box div.navi_profile a::before {
  content: "";
  position: absolute;
  left: 1.6em;
  top: 1.5em;
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-right: 0.8em solid #999999;
  transition: 0.3s;
}

.main_box div.navi_profile a:hover {
  color: #444;
  transition: 0.1s;
}

.main_box div.navi_profile a:hover::before {
  content: "";
  position: absolute;
  left: 1.6em;
  top: 1.5em;
  width: 0;
  height: 0;
  border-top: 0.4em solid transparent;
  border-bottom: 0.4em solid transparent;
  border-right: 0.8em solid #444;
  transition: 0.1s;
}

.main_box div.navi_profile span {
  color: #444;
  font-size: 13px;
}

.main_box div.main_contents {
  margin: 0 2em 2em 2em;
  background-color: white;
}

.main_box div.main_contents table {
  width: 100%;
  border-spacing: 0;
}

.main_box div.main_contents tr {
  color: #444;
  height: 5em;
  margin: 0;
  transition-duration: 0.5s;
}

.main_box div.main_contents tr:hover {
  background-color: #F7F7F7;
  transition-duration: 0.3s;
}

.main_box div.main_contents td {
  color: #444;
  padding: 0.3em;
  margin: 0;
}

.main_box div.main_contents td a {
  color: #444;
}

.main_box div.main_contents td img {
  width: 4em;
  height: 4em;
  margin: 0.4em 0 0 0.4em;
  border: 0.1em solid #444;
  border-radius: 3em;
  background-color: white;
}

.main_box div.main_contents .list_name {
  font-size: 1.5em;
  font-weight: bold;
}

.profile_container {
  display: flex;
  background-color: white;
  margin: 0 2em 2em 2em;
  height: 30em;
}

.profile_container div.profile_left {
  border: 1px solid #999999;
  border-radius: 0.2em;
  width: 15em;
  margin: 2em;
  padding: 0.5em;
}

.profile_container div.profile_left div {
  text-align: center;
  margin-top: 1.3em;
}

.profile_container div.profile_left img.profile_img {
  width: 12em;
}

.profile_container div.profile_left img.profile_pic {
  width: 12em;
  object-fit: cover;
}

.profile_container div.profile_left p.prof_name {
  text-align: center;
  font-size: 1.5em;
}

.profile_container div.profile_left p.prof_gender {
  text-align: center;
  font-size: 1em;
}

.profile_container div.profile_left p.prof_age {
  text-align: center;
  font-size: 1em;
}

.profile_container div.profile_right {
  margin: 2em 1em 2em 1em;
}

.profile_container div.profile_right div.prof_area {
  color: #444;
  height: 10em;
}

.profile_container div.profile_right div.prof_area h2 {
  margin: 0;
  padding: 0;
  color: #444;
}

.profile_container div.profile_right div.prof_area p {
  margin: 0;
  padding: 0;
  font-size: 2em;
}

.profile_container div.profile_right div.prof_intro {
  color: #444;
  margin-top: 1em;
  height: auto;
  width: auto;
}

.profile_container div.profile_right div.prof_bottom {
  margin-left: 10px;
  padding: 10px;
  width: auto;
}

.edit_box {
  text-align: center;
  padding: 50px;
}

.message_box {
  padding: 20px;
}

.self-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 0 0 1rem 0;
  padding: 0;
  width: 400px;
}

.partner-container {
  display: flex;
  flex-direction: row;
  margin: 0 0 1rem 0.5rem;
  padding: 0;
  width: 420px;
}

.partner_span {
  margin: 0 0.3rem 0 0;
  top: 0.4rem;
  position: relative;
  width: 50px;
  padding: 0;
  white-space: nowrap;
}

.latest_box {
  margin: 0 0 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.latest_span {
  top: 0.4rem;
  position: relative;
  margin: 0 0.3rem 0 0;
  width: 50px;
  white-space: nowrap;
}

.latest_message {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  background: #64B5F7;
  border-radius: 1.5rem;
}

.latest_message p {
  margin: 0;
}

.latest_message::after {
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  left: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid #64B5F7;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: -1;
}

.past_self_message {
  width: auto;
  height: auto;
  margin-top: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-right: -80px;
  margin-left: 120px;
  padding: 10px;
  background: #74e09e;
  border-radius: 1.5rem;
}

.past_self_message::after {
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  right: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-left: 30px solid #74e09e;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
  z-index: -1;
}

.past_partner_message {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  background: #64B5F7;
  border-radius: 1.5rem;
}

.past_partner_message::after {
  content: "";
  position: absolute;
  margin: 0 0;
  top: 0;
  bottom: 1.5rem;
  left: -0.5rem;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 30px solid #64B5F7;
  border-bottom: 10px solid transparent;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: -1;
}

.input_text form {
  display: flex;
  justify-content: center;
  margin: 0.3rem 0 0 0;
  padding: 0;
}

.submit_buttom {
  position: absolute;
  margin-bottom: 1.7rem;
  background-color: #e055d9;
  border-style: none;
  border-radius: 0.2rem;
  color: white;
  width: 3rem;
  height: 3rem;
  transition-duration: 0.2s;
  margin: 0.3rem 0rem 1.2rem 12.3rem;
  bottom: 0;
  font-size: 1rem;
}

.submit_buttom:hover {
  background-color: #f186ec;
  color: white;
  transition-duration: 0s;
}

.scroll_down {
  position: absolute;
  margin-bottom: 1.7rem;
  background-color: #525a6b;
  border-style: none;
  border-radius: 0.2rem;
  color: white;
  width: 3rem;
  height: 3rem;
  transition-duration: 0.2s;
  margin: 0.3rem 1rem 1.2rem -12.3rem;
  bottom: 0;
  font-size: 2rem;
}

.scroll_down:hover {
  background-color: #757983;
  transition-duration: 0s;
}

#bottom_block {
  margin: 0;
  padding: 0;
  height: 80px;
  background-color: #6F9ECC;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.profile_show_img {
  width: 10rem;
}

.profile_message_img {
  width: 3rem;
  border-radius: 3rem;
}

#head_block {
  position: fixed;
  color: white;
  background-color: #273147;
  width: 100%;
  height: 80px;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  z-index: 1;
}

.left_arrow {
  width: 2rem;
  padding-top: 1.5rem;
}

.head_person {
  width: 1rem;
  padding-top: 1.5rem;
}

.head_door {
  width: 1rem;
}

.delete_message {
  right: 2rem;
  position: absolute;
  font-size: 0.2rem;
}

.delete_box {
  height: 0.5rem;
  margin: 0;
  padding: 0;
}

.header_name {
  padding-top: 1rem;
}

.header_space {
  height: 100px;
}

.header_right {
  margin: -0.2rem 0.5rem 0 0;
  padding: 0;
  height: 2rem;
}

.all_user:hover {
  font-weight: bold;
}

.message_pics {
  width: 2rem;
  padding: 0.5rem;
}
