@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* メインカラー */
/* ブレークポイント */
/* スマホサイズの設定 */
/* PCサイズの設定 */
body {
  font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
  font-size: 1em;
  min-width: 80em;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  word-wrap: break-word;
}

body a {
  text-decoration: none;
}

header {
  background-color: #8ac6d1;
  height: 5em;
  width: 100%;
  z-index: 2;
}

header div.header_block {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

header div.header_left {
  height: 3em;
  color: white;
  padding: 1.2em 0 0 0;
  margin-left: 5em;
}

header div.header_center {
  height: 3em;
}

header div.header_right {
  height: 3em;
  margin: 1.4em 5em 0 0;
}

header div.header_prof_img {
  height: 3em;
  margin: 1em 5em 0 0;
}

header div.header_prof_img img {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  background-color: white;
  object-fit: cover;
  margin: 0;
}

header img.raynee-logo {
  height: 3em;
}

header a.register_link {
  width: auto;
  color: #444;
  font-size: 1.4em;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 1em;
  white-space: nowrap;
  transition: 0.3s;
}

header a.register_link:hover {
  color: #ffb6b9;
  transition: 0.1s;
}

.dropdown__empty {
  width: 68em;
  overflow: hidden;
  position: relative;
  margin-right: 0;
}

.dropdown__body {
  width: 12em;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.149), 0 1px 2px 0 rgba(60, 64, 67, 0.302);
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  margin-right: 0;
}

.dropdown__list {
  /* デフォルトスタイル リセット */
  margin: 0;
  padding: 0;
}

.dropdown__item {
  display: block;
}

.dropdown__item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #444;
}

.dropdown__item-link:hover {
  background: #F7F7F7;
}

.dropdown_menu {
  width: 80em;
  /* 共通の横幅 =1280px */
  height: auto;
  margin: 0 auto;
  display: none;
}

.is-open {
  width: 80em;
  /* 共通の横幅 =1280px */
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
  margin: 0.2em auto 0 auto;
  z-index: 4;
  position: relative;
}

.is-close::after {
  content: "";
  width: 100%;
  height: 100%;
  cursor: default;
  /* カーソルはデフォルトに戻しておく */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
}

footer {
  height: 0;
  bottom: 0;
  padding: 0 auto;
}

footer div {
  width: 300px;
  margin: 30px auto;
  padding-left: 100px;
}

footer a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

main {
  flex: 1;
}

ul {
  list-style-type: decimal;
}

#error_explanation {
  padding: 10px 0px 0px 320px;
  color: deeppink;
  height: 100%;
}

.regis_error_messages {
  display: flex;
  justify-content: center;
}

#error_explanation_partial {
  color: #ffb6b9;
  height: 2em;
  margin-bottom: 5em;
  padding-bottom: 2em;
}

.error_explanation_small {
  font-size: 10px;
  padding: 10px 0px 0px 300px;
  color: deeppink;
  height: 100%;
}

.field_with_errors {
  display: contents;
}

.login_error_message {
  text-align: center;
  color: #ffb6b9;
  padding-bottom: -3em;
}

.forgot_password_box {
  text-align: center;
  background-color: white;
  width: 900px;
  height: auto;
  margin: 80px auto 30px auto;
  border-radius: 4px;
  padding: 100px 0;
}

.forgot_password_actions {
  margin-right: 50px;
}

.change_password_field {
  margin-right: 50px;
}

.top_bottom_etc {
  text-align: center;
  font-size: 10px;
  width: 250px;
  margin: 10px auto 0 auto;
  padding-right: 50px;
}

.top_bottom_etc a {
  color: #616161;
  transition: 0.5s;
}

.top_bottom_etc a:hover {
  color: deeppink;
  transition: 0.1s;
}
