/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* メインカラー */
$dark-green: #8ac6d1;
$light-green: #bbded6;
$dark-pink: #ffb6b9;
$light-pink: #fae3d9;
$dark-grey: #444;
$middle-grey: #999999;
$light-grey: #F7F7F7;

/* ブレークポイント */
$break-point-mobile: 320px;
$break-point-tablet: 560px;
$break-point-pc: 1024px;
$break-point-max: 1025px;


/* スマホサイズの設定 */
@media screen and (max-width: $break-point-tablet) {

  body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    font-size: 1em;
    min-width: auto; /* 共通の横幅 */
    min-height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
    a {
      text-decoration: none;
    }
  }
  
  header {
    position: fixed;
    background-color: $dark-green;
    height: 4em;
    width: 100%;
    z-index: 2;
    div.header_block {
      width: auto; /* 共通の横幅 */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    div.header_left {
      height: 2em;
      color: white;
      padding: 1.2em 0 0 0;
      margin-left: 1em;
      a.raynee-logo {
        img {
          height: 2em;
        }
      }
    }
    div.header_center {
      height: 2em;
    }
    div.header_right {
      height: 2em;
      margin: 1.4em 1em 0 0;
    }
    div.header_right_on_top {
      height: 2em;
      margin: 1.4em 1em 0 0;
      display: flex;
      div {
        margin-left: 2em;
      }
    }
    div.header_prof_img {
      display: none;
      height: 2em;
      margin: 1em 1em 0 0;
      z-index: -5;
      img {
        width: 2em;
        height: 2em;
        border-radius: 2em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.header_prof_img_responsible {
      display: none;
      height: 2em;
      margin: 1em 1em 0 0;
      z-index: -4;
      img {
        width: 2em;
        height: 2em;
        border-radius: 2em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.sp_menu_button {
      display: block;
      width: 40px;
      height: 20px;
      outline: none;
      border: none;
      font-size: 20px;
      margin: 1.2em 0.7em 1em 0;
      z-index: 0;
    }
    .sp_menu_button .menu_icon02 {
      display: block;
      float: left;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
    .sp_menu_button .menu_icon02 span {
      display: block;
      width: 30px;
      height: 4px;
      background: white;
      margin-bottom: 4px;
      transition: all 0.4s ease-out;
    }
    .sp_menu_button.open .menu_icon02 .bar1 {
      transform: translateY(10px) rotate(135deg);
    }
    .sp_menu_button.open .menu_icon02 .bar2 {
      opacity: 0;
      transform:translateX(-100px);
    }
    .sp_menu_button.open .menu_icon02 .bar3 {
      transform:  translateY(-6px)
      rotate(45deg);
    }
    a.register_link {
      width: auto;
      color: $dark-grey;
      font-size: 1em;
      background-color: white;
      padding: 0.5em 0.5em;
      border-radius: 1em;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        transition: 0.1s;
      }
    }
    a.register_link_alt {
      width: auto;
      color: white;
      font-size: 1.4em;
      background-color: $dark-green;
      padding: 0.4em 1em;
      border-radius: 1em;
      border: solid 0.1em white;
      box-sizing: border-box;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        background-color: white;
        transition: 0.1s;
      }
    }
    .state_umbrella_on_responsible {
      position: absolute;
      top: 4em;
      width: 100%;
      height: 2em;
      background: $light-green;
      color: $dark-grey;
      display: block;
      p {
        text-align: center;
        padding-top: 0.3em;
        margin: 0;
      }
    }
    nav {
      background-color: $dark-green;
      position: fixed;
      z-index: 5;
      top: 4em;
      right: 0;
      overflow-x: hidden;
      text-align: center;
      width: 0;
      height: 100%;
      transition: 0.6s;
      div.nav_button_on_nav_menu {
        width: auto;
        font-size: 1.5em;
        margin: 1.4em auto 1.6em auto;
        display: flex;
        justify-content: center;
        a {
          width: 11em;
          color: $dark-grey;
          background-color: white;
          border-radius: 0.1em;
          padding: 0.5em;
          white-space: nowrap;
          transition: 0.5s;
          &:hover {
            color: black;
            background-color: $light-grey;
            transition: 0.1s;
          }
        }
      }
    }
    nav.open-menu {
      width: 100%;
    }
  }
  .dropdown_menu {
    width: 80em; /* 共通の横幅 =1280px */
    height: auto;
    margin: 0 auto;
    display: none;
    div.dropdown__body {
      width: 13.8em;
      background: #fff;
      box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
      border-radius: 0.2em;
      position: relative;
      margin-right: 0;
      &::after {
        content: "";
        position: absolute;
        top: -0.35em;
        right: 6em;
        border-right: 0.4em solid transparent;
        border-bottom: 0.4em solid white;
        border-left: 0.4em solid transparent;
        z-index: 3;
        &:hover {
          background: $light-grey;
        }
      }
      ul.dropdown__list { /* デフォルトスタイル リセット */
        margin: 0;
        padding: 0;
        li.dropdown__item {
          display: block;
          a.dropdown__item-link {
            display: block;
            padding: 1em 1.2em;
            font-size: 1em;
            text-decoration: none;
            color: $dark-grey;
            transition: 0.3s;
            &:hover {
              background: $light-grey;
              color: black;
              transition: 0.1s;
              border-radius: 0.2em;
            }
          }
        }
      }
    }
    div.dropdown__empty {
      width: 66.2em;
      overflow: hidden;
      position: relative;
      margin-right: 0;
    }
  }

  main {
    flex: 1;
    height: 100vh;
  }
  
  .is-open {
    width: 80em; /* 共通の横幅 =1280px */
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 0.2em auto 0 auto;
    z-index: 4;
    position: relative;
  }
  
  .is-close::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default; /* カーソルはデフォルトに戻しておく */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .login_error_message {
    width: 18em;
    text-align: center;
    color:$dark-pink;
    padding-top: 1em;
  }
  
}

/* タブレットサイズの設定 */
@media screen and (min-width: $break-point-tablet) and (max-width: $break-point-pc) {

  body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    font-size: 1em;
    min-width: auto;
    min-height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
    a {
      text-decoration: none;
    }
  }

  header {
    position: fixed;
    background-color: $dark-green;
    height: 5em;
    width: 100%;
    z-index: 2;
    div.header_block {
      width: auto; /* 共通の横幅 =560px */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    div.header_left {
      height: 3em;
      color: white;
      padding: 1.2em 0 0 0;
      margin-left: 2em;
      a.raynee-logo {
        img {
          height: 3em;
        }
      }
    }
    div.header_center {
      height: 3em;
    }
    div.header_right {
      height: 3em;
      margin: 1.4em 2em 0 0;
    }
    div.header_right_on_top {
      height: 3em;
      margin: 1.4em 2em 0 0;
      display: flex;
      div {
        margin-left: 2em;
      }
    }
    div.header_prof_img {
      height: 3em;
      margin: 1em 2em 0 0;
      display: none;
      z-index: -5;
      img {
        width: 3em;
        height: 3em;
        border-radius: 3em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.header_prof_img_responsible {
      display: none;
      height: 3em;
      margin: 1em 2em 0 0;
      z-index: -5;
      img {
        width: 3em;
        height: 3em;
        border-radius: 3em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.sp_menu_button {
      display: block;
      width: 60px;
      height: 30px;
      outline: none;
      border: none;
      font-size: 30px;
      margin: 0.8em 1em 1em 0;
      z-index: 0;
    }
    .sp_menu_button .menu_icon02 {
      display: block;
      float: left;
      cursor: pointer;
      transition: all 0.2s ease-in;
    }
    .sp_menu_button .menu_icon02 span {
      display: block;
      width: 45px;
      height: 6px;
      background: white;
      margin-bottom: 6px;
      transition: all 0.4s ease-out;
    }
    .sp_menu_button.open .menu_icon02 .bar1 {
      transform: translateY(12px) rotate(135deg);
    }
    .sp_menu_button.open .menu_icon02 .bar2 {
      opacity: 0;
      transform:translateX(-100px);
    }
    .sp_menu_button.open .menu_icon02 .bar3 {
      transform:  translateY(-12px)
      rotate(45deg);
    }
    a.register_link {
      width: auto;
      color: $dark-grey;
      font-size: 1.4em;
      background-color: white;
      padding: 0.5em 1em;
      border-radius: 1em;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        transition: 0.1s;
      }
    }
    a.register_link_alt {
      width: auto;
      color: white;
      font-size: 1.4em;
      background-color: $dark-green;
      padding: 0.4em 1em;
      border-radius: 1em;
      border: solid 0.1em white;
      box-sizing: border-box;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        background-color: white;
        transition: 0.1s;
      }
    }

    .state_umbrella_on_responsible {
      position: absolute;
      top: 5em;
      width: 100%;
      height: 2em;
      background: $light-green;
      color: $dark-grey;
      display: block;
      p {
        text-align: center;
        padding-top: 0.3em;
        margin: 0;
      }
    }

    nav {
      background-color: $dark-green;
      position: fixed;
      z-index: 5;
      top: 5em;
      right: 0;
      overflow-x: hidden;
      text-align: center;
      width: 0;
      height: 100%;
      padding-top: 5em;
      transition: 0.6s;
      div.nav_button_on_nav_menu {
        width: auto;
        font-size: 1.5em;
        margin: 2em auto;
        display: flex;
        justify-content: center;
        a {
          width: 14.4em;
          color: $dark-grey;
          background-color: white;
          border-radius: 0.1em;
          padding: 0.5em;
          white-space: nowrap;
          &:hover {
            color: black;
            background-color: $light-grey;
          }
        }
      }
    }
    nav.open-menu {
      width: 100%;
    }
  }

  .dropdown_menu {
    width: auto; /* 共通の横幅 */
    height: auto;
    margin: 0 2em;
    display: none;
    div.dropdown__body {
      width: 13.8em;
      background: #fff;
      box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
      border-radius: 0.2em;
      position: relative;
      margin-right: 0;
      &::after {
        content: "";
        position: absolute;
        top: -0.35em;
        right: 3em;
        border-right: 0.4em solid transparent;
        border-bottom: 0.4em solid white;
        border-left: 0.4em solid transparent;
        z-index: 3;
        &:hover {
          background: $light-grey;
        }
      }
      ul.dropdown__list { /* デフォルトスタイル リセット */
        margin: 0;
        padding: 0;
        li.dropdown__item {
          display: block;
          a.dropdown__item-link {
            display: block;
            padding: 1em 1.2em;
            font-size: 1em;
            text-decoration: none;
            color: $dark-grey;
            transition: 0.3s;
            &:hover {
              background: $light-grey;
              color: black;
              transition: 0.1s;
              border-radius: 0.2em;
            }
          }
        }
      }
    }
    div.dropdown__empty {
      width: 100%;
      overflow: hidden;
      position: relative;
      margin-right: 0;
    }
  }

  main {
    flex: 1;
  }

  .is-open {
    width: auto; /* 共通の横幅 */
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 0.2em auto 0 auto;
    z-index: 4;
    position: relative;
  }

  .is-close::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default; /* カーソルはデフォルトに戻しておく */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .login_error_message {
    width: 22em;
    text-align: center;
    color:$dark-pink;
    padding-bottom:-3em;
  }
  
}

/* PCサイズの設定 */
@media screen and (min-width: $break-point-max) {

  body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
    font-size: 1em;
    min-width: 80em; /* 共通の横幅 =1280px */
    min-height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-flow: column;
    word-wrap: break-word;
    a {
      text-decoration: none;
    }
  }
  
  header {
    position: relative;
    background-color: $dark-green;
    height: 5em;
    width: 100%;
    z-index: 2;
    div.header_block {
      width: 80em; /* 共通の横幅 =1280px */
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    div.header_left {
      height: 3em;
      color: white;
      padding: 1.2em 0 0 0;
      margin-left: 5em;
      a.raynee-logo {
        img {
          height: 3em;
        }
      }
    }
    div.header_center {
      height: 3em;
    }
    div.header_right {
      height: 3em;
      margin: 1.4em 5em 0 0;
    }
    div.header_right_on_top {
      height: 3em;
      margin: 1.4em 5em 0 0;
      display: flex;
      div {
        margin-left: 2em;
      }
    }
    div.header_prof_img {
      height: 3em;
      margin: 1em 5em 0 0;
      display: block;
      z-index: 0;
      img {
        width: 3em;
        height: 3em;
        border-radius: 3em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.header_prof_img_responsible {
      display: none;
      z-index: -5;
      height: 3em;
      margin: 1em 1em 0 0;
      img {
        width: 3em;
        height: 3em;
        border-radius: 3em;
        background-color: white;
        object-fit: cover;
        margin: 0;
      }
    }
    div.sp_menu_button {
      display: none;
      width: 40px;
      height: 20px;
      outline: none;
      border: none;
      font-size: 20px;
      margin: 1.2em 0.7em 1em 0;
      z-index: 0;
    }
    a.register_link {
      width: auto;
      color: $dark-grey;
      font-size: 1.4em;
      background-color: white;
      padding: 0.5em 1em;
      border-radius: 1em;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        transition: 0.1s;
      }
    }
    a.register_link_alt {
      width: auto;
      color: white;
      font-size: 1.4em;
      background-color: $dark-green;
      padding: 0.4em 1em;
      border-radius: 1em;
      border: solid 0.1em white;
      box-sizing: border-box;
      white-space: nowrap;
      transition: 0.3s;
      &:hover {
        color: black;
        background-color: white;
        transition: 0.1s;
      }
    }

    .state_umbrella_on_responsible {
      position: absolute;
      top: 5em;
      width: 100%;
      height: 2em;
      background: $light-green;
      color: $dark-grey;
      display: none;
      p {
        text-align: center;
        padding-top: 0.3em;
        margin: 0;
      }
    }

    nav {
      background-color: $dark-green;
      position: fixed;
      z-index: 5;
      top: 5em;
      right: 0;
      overflow-x: hidden;
      text-align: center;
      width: 0;
      height: 100%;
      transition: 0.6s;
      display: none;
      div.nav_button_on_nav_menu {
        width: auto;
        font-size: 1.5em;
        margin: 2em auto;
        display: flex;
        justify-content: center;
        a {
          width: 14.4em;
          color: $dark-grey;
          background-color: white;
          border-radius: 0.1em;
          padding: 0.5em;
          white-space: nowrap;
          &:hover {
            color: black;
            background-color: $light-grey;
          }
        }
      }
    }
    nav.open-menu {
      width: 100%;
    }
  }

  main {
    flex: 1;
  }

  .dropdown_menu {
    width: 80em; /* 共通の横幅 =1280px */
    height: auto;
    margin: 0 auto;
    display: none;
    div.dropdown__body {
      width: 13.8em;
      background: #fff;
      box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
      border-radius: 0.2em;
      position: relative;
      margin-right: 0;
      &::after {
        content: "";
        position: absolute;
        top: -0.35em;
        right: 6em;
        border-right: 0.4em solid transparent;
        border-bottom: 0.4em solid white;
        border-left: 0.4em solid transparent;
        z-index: 3;
        &:hover {
          background: $light-grey;
        }
      }
      ul.dropdown__list { /* デフォルトスタイル リセット */
        margin: 0;
        padding: 0;
        li.dropdown__item {
          display: block;
          a.dropdown__item-link {
            display: block;
            padding: 1em 1.2em;
            font-size: 1em;
            text-decoration: none;
            color: $dark-grey;
            transition: 0.3s;
            &:hover {
              background: $light-grey;
              color: black;
              transition: 0.1s;
              border-radius: 0.2em;
            }
          }
        }
      }
    }
    div.dropdown__empty {
      width: 66.2em;
      overflow: hidden;
      position: relative;
      margin-right: 0;
    }
  }
  
  .is-open {
    width: 80em; /* 共通の横幅 =1280px */
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: row-reverse;
    margin: 0.2em auto 0 auto;
    z-index: 4;
    position: relative;
  }
  
  .is-close::after {
    content: "";
    width: 100%;
    height: 100%;
    cursor: default; /* カーソルはデフォルトに戻しておく */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .login_error_message {
    width: 22em;
    text-align: center;
    color:$dark-pink;
    padding-bottom:-3em;
  }
  
}



ul {
  list-style-type: decimal; 
}

#error_explanation {
  padding:10px 0px 0px 320px;
  color:deeppink;
  height:100%;
}

.regis_error_messages {
  display: flex;
  justify-content: center;
}

#error_explanation_partial {
  color: $dark-pink;
  height: 2em;
  margin-bottom: 5em;
  padding-bottom: 2em;
}

.error_explanation_small {
  font-size: 10px;
  padding:10px 0px 0px 300px;
  color:deeppink;
  height:100%;
}

.field_with_errors {
  display: contents;
}

.forgot_password_actions{
  margin-right: 50px;
}

.change_password_field {
  margin-right: 50px;
}


.top_bottom_etc {
  text-align: center;
  font-size: 0.8em;
  width: auto;
  margin: 2em auto 0 auto;
  a {
    color: $middle-grey;
    transition: 0.5s ;
    &:hover {
      color:$dark-grey;
      transition: 0.1s ;
    }
  }
}







