// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* メインカラー */
$dark-green: #8ac6d1;
$light-green: #bbded6;
$dark-pink: #ffb6b9;
$light-pink: #fae3d9;
$dark-grey: #444;
$middle-grey: #999999;
$light-grey: #F7F7F7;

/* ブレークポイント */
$break-point-Mobile: 481px;
$break-point-PC: 960px;


.right_culumn_container {
  width: 80em; /* 共通の横幅 =1280px */
  margin:0 auto;
}

.main_box_on_message_page {
  position: relative;
  background-color: $dark-green;
  width: auto;
  height: 100%;
  margin: 5em 5em 0 5em;
  border-radius: 0.2em;
  z-index: 0;
  div.profile_header {
    color: $dark-grey;
    height: 3em;
    margin: 1em 2em 0.4em 2em;
    padding-top: 1.5em;
    top: 0;
    background-color: $dark-green;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    z-index: 2;
    h3 {
      position: absolute;
      top: 0.6em;
      height: 2em;
      width: 100%;
      color: white;
      font-size: 1.8em;
      margin: 0;
      padding: 0;
      text-align: center;
    }
  }
}

.message_box {
  height: auto;
  min-height: 16em;
  margin: 0 2em 0 2em;
  padding: 2em;
  background-color: white;
  background-image: url(rain.jpg);
  background-size: cover;
  z-index: -1;
}

.self-container{
  display: flex;
  flex-direction: row-reverse;
  margin:0 0 2em 0;
  padding:0;
  width: 44em;
  margin-right: 0;
}

.partner-container{
  display: flex;
  flex-direction: row;
  margin: 0 0 2em 0.5em;
  padding: 0;
  width: 42em;
  img {
    width: 4.1em;
    height: 4.1em;
    background-color: white;
    object-fit: cover;
    margin: 0.3em 1em 0 0;
  }
}

.latest_box{
  margin:0 0 1rem 0;
  padding:0;
  display: flex;
  flex-direction: row;
  width:100%;
  img {
    width: 4.1em;
    height: 4.1em;
    background-color: white;
    object-fit: cover;
    margin-top: 0.7em;
    margin-right: 1em;
  }
}

.latest_message {
  width: auto;
  height:auto;
  margin:0;
  padding:0;
  display: inline-block;
  position: relative;
  margin-top: 10px;
  margin-left: 0px;
  padding: 10px;
  background: white;
  border-radius: 1.5rem;
  p {
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    margin: 0 0;
    top: 0;
    bottom: 1.5rem;
    left: -1rem;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 3em solid white;
    border-bottom: 1em solid transparent;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

.past_self_message {
  width: auto;
  max-width: 25em;
  height:auto;
  padding: 0.5em 0.7em 0.3em 0.7em;
  display: inline-block;
  position: relative;
  background: $dark-pink;
  border-radius: 1.5em;
  p {
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    margin: 0 0;
    top: 0;
    bottom: 1.5rem;
    right: -1em;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-left: 3em solid $dark-pink;
    border-bottom: 1em solid transparent;
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }
}

.past_partner_message {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.5em 0.7em 0.3em 0.7em;
  display: inline-block;
  position: relative;
  background: white;
  border-radius: 1.5em;
  p {
    font-size: 1.5em;
    margin: 0.2em;
    padding: 0;
    position: relative;
    z-index: 1;
  }
  &::after {
    content: "";
    position: absolute;
    margin: 0 0;
    top: 0;
    bottom: 1.5rem;
    left: -1rem;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-right: 3em solid white;
    border-bottom: 1em solid transparent;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }
}

.message_container {
  width: auto;
  max-width: 25em;
  p {
    color: $dark-grey;
    margin: 0 0 0.2em 0;
    padding: 0;
  }
}

#submit_container {
  position: fixed;
  bottom: 0;
  width: 52.6em;
  margin: 0 5em;
  padding-top: 1.5em;
  background-color: $dark-green;
  display: flex;
  justify-content: center;
  form {
    display: flex;
    margin: 0;
    padding: 0;
    color: $dark-grey;
    textarea {
      width: 18em;
      height: 3em;
      font-size: 20px;
      position: relative;
      border: solid thin $middle-grey;
      resize: vertical;
      border-radius: 0.3em;
      bottom: 0;
      margin: 0 2em 0 0;
      padding: 0.2em;
      &:focus {
        border: solid thin $dark-pink;
        outline: 0;
      }
    }
    input.submit_buttom {
      position: absolute;
      bottom: 0;
      right: 8em;
      background-color: $dark-pink;
      border-style: none;
      border-radius: 0.2em;
      color:white;
      width: 3em;
      height: 3em;
      transition-duration: 0.2s;
      margin: 0 0 1.45em 12.3em;
      font-size: 1.3em;
      &:hover {
        background-color: $light-pink;
        color:white;
        transition-duration: 0s;
      }
    }
  }
}

.message_body {
  color: $dark-grey;
  margin: 0;
  padding: 0;
}

.message_date {
  width: 4em;
  margin: 0 0 0 1em;
  padding: 0;
  color: $dark-grey;
  display: flex;
  flex-direction: column-reverse;
  p {
    line-height: 0;
  }
}

.delete_box {
  height:0.5rem;
  margin:0 0 1em 0;
  padding:0;
  text-align: right;
  a.delete_message {
    font-size: 0.8em;
    color: $dark-grey;
    transition: 0.3s;
    &:hover {
      color: black;
      transition: 0.1s;
    }
  }
}




.scroll_down {
  position: absolute;
  margin-bottom:1.7rem;
  background-color: #525a6b;
  border-style: none;
  border-radius: 0.2rem;
  color:white;
  width:3rem;
  height:3rem;
  transition-duration: 0.2s;
  margin:0.3rem 1rem 1.2rem -12.3rem;
  bottom:0;
  font-size:2rem;
  &:hover {
    background-color: #757983;
    transition-duration: 0s;
  }
}

#bottom_block {
  margin:0;
  padding:0;
  height: 80px;
  background-color: #6F9ECC;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

