// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* メインカラー */
$dark-green: #8ac6d1;
$light-green: #bbded6;
$dark-pink: #ffb6b9;
$light-pink: #fae3d9;
$dark-grey: #444;
$middle-grey: #999999;
$light-grey: #F7F7F7;

/* ブレークポイント */
$break-point-Mobile: 481px;
$break-point-PC: 960px;



.regis_background, .login_background {
  background-image: url(rain.jpg);
  background-size: cover;
  min-height: 100vh;
}

.start_background {
  background-image: url(undraw_raining_sguh.png);
  background-size: contain;
  background-repeat:  no-repeat;
  min-height: 100vh;
}

.login_container{
  width:80em;
  margin:0 auto;
  display: flex;
  div.login_box {
    width: 28em;
    height: auto;
    margin: 4.8em auto;
    padding-bottom: 3.6em;
    background-color: white;
    border: solid thin $dark-green;
    border-radius: 0.3em;
    div.remember_and_submit_form {
      width: auto;
      display: flex;
      justify-content: center; 
      flex-wrap: wrap;
      padding-top: 0.7em;
      a {
        color: $middle-grey;
        font-weight: lighter;
        transition: 0.5s;
        &:hover {
          color: $dark-pink;
          transition: 0.1s;
        }
      }
      div.field {
        width: 15em;
        text-align: center;
        color: $middle-grey;
        font-weight: lighter;
        margin: 0 auto;
        padding-top: 1em;
      }
      input[type=checkbox] {
        display: none;
      }
      input[type="checkbox"]+label {
        display: none;
        cursor: pointer;
        display: inline-block;
        position: relative;
        padding-left: 25px;
        padding-right: 10px;
        &::before {
          content: "";
          position: absolute;
          display: block;
          box-sizing: border-box;
          width: 20px;
          height: 20px;
          margin-top: -10px;
          left: 0;
          top: 50%;
          border: 1px solid;
          border-color:  $middle-grey; /* 枠の色 */
          border-radius: 0.2em;
          background-color: #FFF; /* 背景の色 */
        }
      }
      input[type="checkbox"]:checked+label::after{
        content: "";
        position: absolute;
        display: block;
        box-sizing: border-box;
        width: 18px;
        height: 9px;
        margin-top: -9px;
        top: 50%;
        left: 3px;
        transform: rotate(-45deg);
        border-bottom: 3px solid;
        border-left: 3px solid;
        border-color:  $dark-pink; /* チェックの色 */
      }
    }
  }
}

.regis_container {
  width: 80em; /* 共通の横幅 =1280px */
  margin:0 auto;
  display: flex;
  justify-content: space-between;
  div.regis_box {
    width: 28em;
    height: auto;
    margin: 4.8em 5em 5em 0;
    padding-bottom: 3em;
    background-color: white;
    border: solid thin $dark-green;
    border-radius: 0.3em;
    div.email_and_pass_form {
      width:auto;
      display: flex;
      justify-content: center;
      padding-top: 2em;
      div.field {
        margin-top: 1em;
        color: $middle-grey;
        font-weight: lighter;
      }
      div.field_remember {
        width: 17.1em;
        margin-top: 1.5em;
        color: $middle-grey;
        font-weight: lighter;
      }
      div.field_age, div.field_gender {
        margin-top: 1.5em;
        color: $middle-grey;
        font-weight: lighter;
        label {
          margin-left: 0.1em;
        }
      }
      div.gender_and_age {
        width:19em;
        margin:0;
        padding:0;
      }
      input[type=email] {
        height: 1.5em;
        width: 23em;
        padding: 0.2em;
        text-indent: 0.5em;
        border: solid thin $middle-grey;
        border-radius: 0.2em;
        &:focus {
          border: solid thin $dark-pink;
          outline: 0;
        }
      }
      input[type=text] {
        height: 1.5em;
        width: 23em;
        padding: 0.2em;
        text-indent: 0.5em;
        border: solid thin $middle-grey;
        border-radius: 0.2em;
        &:focus {
          border: solid thin $dark-pink;
          outline: 0;
        }
      }
      input[type=password] {
        height: 1.5em;
        width: 23em;
        padding: 0.2em;
        text-indent: 0.5em;
        border: solid thin $middle-grey;
        border-radius: 0.2em;
        &:focus {
          border: solid thin $dark-pink;
          outline: 0;
        }
      }
      select {
        border: solid thin $middle-grey;
        height: 1.5em;
        width: auto;
        border-radius: 0.2em;
        color: $middle-grey;
        padding: 0 2.5em 0 0.5em;
        outline:none;
        text-indent: 0em;
        text-overflow: '';
        background: none transparent;
        vertical-align: middle;
        font-size: inherit;
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        z-index: 1;
        option {
          background-color: #fff;
          color: $middle-grey;
        }
        &::-ms-expand {
          display: button;
        }
        &:-moz-focusring {
          color: transparent; 
          text-shadow: 0 0 0 $middle-grey;
        }
      }
    }
  }
  div.disc_box {
    height: 30em;
    margin: 4em 3em 5em 4.9em;
    color: $dark-grey;
    div.disc_large {
      font-size: 3.2em;
      font-weight: bold;
      p {
        margin: 0;
        padding: 0;
        white-space: nowrap;
      }
    }
    div.disc_small {
      font-size: 1.6em;
      margin-top: 1em;
      p {
        margin: 0;
        padding: 0.1em;
        white-space: nowrap;
      }
    }
  }
}

.email_and_pass_form {
  width:auto;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  padding-top: 2em;
  div.field {
    margin-top: 1em;
    color: $middle-grey;
    font-weight: lighter;
  }
  div.field_remember {
    width: 17.1em;
    margin-top: 1.5em;
    color: $middle-grey;
    font-weight: lighter;
  }
  div.field_age, div.field_gender {
    margin-top: 1.5em;
    color: $middle-grey;
    font-weight: lighter;
  }
  div.gender_and_age {
    width:19em;
    margin:0;
    padding:0;
  }
  input[type=email] {
    height: 1.5em;
    width: 23em;
    padding: 0.2em;
    text-indent: 0.5em;
    border: solid thin $middle-grey;
    border-radius: 0.2em;
    &:focus {
      border: solid thin $dark-pink;
      outline: 0;
    }
  }
  input[type=text] {
    height: 1.5em;
    width: 23em;
    padding: 0.2em;
    text-indent: 0.5em;
    border: solid thin $middle-grey;
    border-radius: 0.2em;
    &:focus {
      border: solid thin $dark-pink;
      outline: 0;
    }
  }
  input[type=password] {
    height: 1.5em;
    width: 23em;
    padding: 0.2em;
    text-indent: 0.5em;
    border: solid thin $middle-grey;
    border-radius: 0.2em;
    &:focus {
      border: solid thin $dark-pink;
      outline: 0;
    }
  }
  select {
    border: solid thin $middle-grey;
    height: 1.5em;
    width: auto;
    border-radius: 0.2em;
    color: $middle-grey;
    padding: 0 0.5em;
    outline:none;
    text-indent: 0.01px;
    text-overflow: '';
    background: none transparent;
    vertical-align: middle;
    font-size: inherit;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    option {
      background-color: #fff;
      color: #333;
    }
    &::-ms-expand {
      display: none;
    }
    &:-moz-focusring {
      color: transparent; 
      text-shadow: 0 0 0 #828c9a;
    }
  }
}

.login_button_container, .regis_button_container {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  div.login_button, div.regis_button {
    margin: 2em auto 0 auto;
    input[type="submit"] {
      height: 2.1em;
      line-height: 0;
      width: auto;
      border-style: none;
      font-size: 1.4em;
      white-space: nowrap;
      padding: 0 1em;
      border-radius: 1em;
      color:white;
      background: $dark-pink;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
  }
}

.sample_user {
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  div.login_button {
    margin: 2em auto 0 auto;
    input[type="submit"] {
      height: 2.1em;
      line-height: 0;
      width: auto;
      border-style: none;
      font-size: 1.2em;
      white-space: nowrap;
      padding: 0 1em;
      border-radius: 1em;
      color:white;
      background: $dark-pink;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
  }
}

.start_container {
  width: 80em; /* 共通の横幅 =1280px */
  margin:0 auto;
  display: flex;
  flex-direction: row-reverse;
  div.start_box{
    width: 30em;
    height: auto;
    margin: 4.8em 5em 0 0;
    padding: 0 2em;
    background-color: white;
    border: solid thin $dark-green;
    border-radius: 0.3em;
    div.start_form {
      width:auto;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-top: 2em;
      div.field {
        margin-top: 1em;
        color: $dark-grey;
        font-size: 1.3em;
        font-weight: lighter;
        display: flex;
        div.start_label {
          margin-top: 0.1em;
        }
        input[type=text] {
          height: 1.5em;
          width: 13em;
          padding: 0.2em;
          margin-left: 0.5em;
          font-size: 0.8em;
          text-indent: 0.5em;
          border: solid thin $middle-grey;
          border-radius: 0.2em;
          &:focus {
            border: solid thin $dark-pink;
            outline: 0;
          }
        }
      }
    }
    group + group {
      margin-top: 20px;
    }
    .inline-radio {
      display: flex;
      border-radius: 0.2em;
      overflow: hidden;
      border: solid thin $middle-grey;
      margin-left: 0.45em;
      div {
        position: relative;
        flex: 1;
      }
      input {
        width: 7em;
        height: 1.7em;
        opacity: 0;
      }
      label {
        font-size: 1em;
        position: absolute;
        top: 0;
        left: 0;
        color: $middle-grey;
        width: 5em;
        height: 5em;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        border-right: 1px solid #b6b6b6;
        text-align:left;
        padding-left:0.2em;
      }
      div:last-child label {
        border-right: 0;
      }
      input:checked + label {
        background: $dark-pink;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}

.start_button_container {
  display: flex;
  div.start_button {
    margin: 3em auto 3em auto;
    input[type="submit"] {
      height: 2.1em;
      line-height: 0;
      width: auto;
      border-style: none;
      font-size: 1.4em;
      white-space: nowrap;
      padding: 0 1em 0 1em;
      border-radius: 1em;
      color:white;
      background: $dark-pink;
      transition: 0.3s;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
        transition: 0.1s;
      }
    }
  }
}

/* ユーザー一覧画面、プロフィール画面、編集画面、メッセージ画面 */

.main_container {
  width: 80em; /* 共通の横幅 =1280px */
  margin:0 auto;
  display: flex;
}

/* 左側のナビゲーションカラム */

.navi_box {
  background-color: $light-grey;
  width: 12.2em;
  height: auto;
  margin: 5em 0 0 5.1em;
  border-radius: 0.2em;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  div.state_umbrella {
    width: 100%;
    height: 2em;
    background: $light-green;
    border-radius: 0.2em 0.2em 0 0;
    color: $dark-grey;
    p {
      text-align: center;
      padding-top: 0.3em;
      margin: 0;
    }
  }
  div.navi_prof_pic {
    width: 100%;
    text-align: center;
    img {
      width: 6em;
      height: 6em;
      border: 1px solid $dark-grey;
      border-radius: 5em;
      margin: 2em 0 1em 0;
      background-color: white;
      object-fit: cover;
    }
  }
  div.navi_prof_name {
    width: 100%;
    text-align: center;
    p {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
    }
  }
  div.navi_prof_mypage {
    width: 100%;
    text-align: center;
    p {
      font-size: 1em;
      margin: 0;
      a {
        color: $dark-grey;
        transition: 0.3s;
        &:hover {
          color: black;
          transition: 0.1s;
        }
      }
    }
  }
  div.navi_prof_state_dark-pink {
    width: 100%;
    height: 5em;
    background-color: $dark-pink;
    margin: 1em 0;
    p {
      color: $dark-grey;
      margin: 0;
      padding: 1em 0 0 0;
      text-align: center;
    }
    a {
      color: $dark-grey;
    }
  }
  div.navi_prof_state_light-pink {
    width: 100%;
    height: 5em;
    background-color: $light-pink;
    margin: 1em 0;
    p {
      color: $dark-grey;
      margin: 0;
      padding: 1em 0 0 0;
      text-align: center;
    }
    a {
      color: $dark-grey;
    }
  }
  div.navi_prof_logout {
    margin: 5em auto;
    font-weight: bold;
    text-align: center;
    position: relative;
    bottom:2em;
    a {
      width: 10em;
      height:2em;
      padding:0.7em;
      background-color: $dark-green;
      border-radius: 3em;
      color: white;
      transition: 0.3s;
      &:hover {
        opacity: 0.8;
        transition: 0.1s;

      }
    }
  }
}

.main_box {
  position: relative;
  background-color: $light-grey;
  width: auto;
  height: auto;
  margin: 5em 5em 0 5em;
  padding-bottom: 0.3em;
  border-radius: 0.2em;
  z-index: 0;
  div.search_user {
    color: $dark-grey;
    height: 3em;
    margin: 1em 2em 0.4em 0;
    padding-top: 1.5em;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: $light-grey;
  }
  div.main_contents {
    margin: 0 2em 2em 2em;
    background-color: white;
    table {
    width: 100%;
    border-spacing: 0;
    }
    tr.default_table_border {
      color: $dark-grey;
      height: 5em;
      margin: 0;
      transition-duration: 0.5s;
      z-index: -1;
      p {
        color: $middle-grey;
        font-size: 1.2em;
        text-align: center;
      }
    }
    tr.table_border {
      color: $dark-grey;
      height: 5em;
      margin: 0;
      transition-duration: 0.5s;
      &:hover {
        background-color: $light-grey;
        transition-duration: 0.3s;
      }
    }
    tr.table_border_on_message {
      background-color: $dark-pink;
      color: $dark-grey;
      height: 5em;
      margin: 0;
    }
    td {
      color: $dark-grey;
      padding: 0.3em;
      margin: 0;
      a {
        color: $dark-grey
      }
      img {
        width: 4em;
        height: 4em;
        margin: 0.4em 0 0 0.4em;
        border: 1px solid $dark-grey;
        border-radius: 3em;
        background-color: white;
        object-fit: cover;
      }
    }
    td.list_prof_img {
      width: 5.2em;
    }
    td.list_name {
      font-size:1.5em;
      font-weight: bold;
      width: 9em;
    }
    td.list_gender_and_age {
      width: 8em;
      color: $dark-grey;
      padding: 0.3em;
      margin: 0;
      p {
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    .list_area {
      font-size:1.3em;
    }
  }
}

.main_box_on_user_page {
  position: relative;
  background-color: $light-grey;
  width: auto;
  height: 37em;
  margin: 5em 5em 0 5em;
  border-radius: 0.2em;
  z-index: 0;
  div.search_user {
    color: $dark-grey;
    height: 3em;
    margin-top: 1em;
    margin-right: 2em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: $light-grey;
  }
  div.profile_header {
    color: $dark-grey;
    height: 3em;
    margin: 1em 2em 0.4em 3em;
    padding-top: 1.5em;
    top: 0;
    background-color: $light-grey;
    display: flex;
    justify-content: space-between;
    a {
      font-size: 1.3em;
      color: $middle-grey;
      transition: 0.3s;
      padding-left: 0.5em;
      &::before {
        content: "";
        position: absolute;
        left:1.6em;
        top: 1.5em;
        width: 0;
        height: 0;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent;
        border-right: 0.8em solid $middle-grey;
        transition: 0.3s;
      }
      &:hover {
        color: $dark-grey;
        transition: 0.1s;
        &::before {
          content: "";
          position: absolute;
          left:1.6em;
          top: 1.5em;
          width: 0;
          height: 0;
          border-top: 0.4em solid transparent;
          border-bottom: 0.4em solid transparent;
          border-right: 0.8em solid $dark-grey;
          transition: 0.1s;
        }
      }
    }
    div.my_page_on_profile {
      font-size: 2em;
      font-weight: bold;
      margin: 0 5.5em 0 0;
      position: relative;
      bottom:0.3em;
    }
    p.disc_for_accept {
      font-size: 1.1em;
      position: absolute;
      top: 0.5em;
      right: 1.6em;
    }
  }
  div.main_contents {
    margin: 0 2em 2em 2em;
    background-color: white;
  }
}

.main_box_on_my_page {
  position: relative;
  background-color: $light-green;
  width: auto;
  height: 37em;
  margin: 5em 5em 0 5em;
  border-radius: 0.2em;
  z-index: 0;
  div.search_user {
    color: $dark-green;
    height: 3em;
    margin-top: 1em;
    margin-right: 2em;
    padding-top: 0.5em;
    display: flex;
    flex-direction: row-reverse;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: $light-green;
  }
  div.profile_header {
    color: $dark-grey;
    height: 3em;
    margin: 1em 2em 0.4em 3em;
    padding-top: 1.5em;
    top: 0;
    background-color: $light-green;
    display: flex;
    justify-content: space-between;
    a.back_to_users {
      font-size: 1.3em;
      color: $dark-grey;
      transition: 0.3s;
      padding-left: 0.5em;
      &::before {
        content: "";
        position: absolute;
        left:1.6em;
        top: 1.5em;
        width: 0;
        height: 0;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent;
        border-right: 0.8em solid $dark-grey;
        transition: 0.3s;
      }
      &:hover {
        color: black;
        transition: 0.1s;
        &::before {
          content: "";
          position: absolute;
          left:1.6em;
          top: 1.5em;
          width: 0;
          height: 0;
          border-top: 0.4em solid transparent;
          border-bottom: 0.4em solid transparent;
          border-right: 0.8em solid black;
          transition: 0.1s;
        }
      }
    }
    a.edit_on_my_page {
      font-size: 1.3em;
      color: $dark-grey;
      transition: 0.3s;
      padding-right: 1.1em;
      &::after {
        content: "";
        display: inline-block;
        background-image: url(pencil.png);
        background-size: contain;
        position: absolute;
        right:1.6em;
        top: 1.5em;
        width: 0.8em;
        height: 0.8em;
        transition: 0.3s;
      }
      &:hover {
        color: black;
        transition: 0.1s;
        &::after {
          content: "";
          display: inline-block;
          background-image: url(pencil_black.png);
          background-size: contain;
          position: absolute;
          right:1.6em;
          top: 1.5em;
          width: 0.8em;
          height: 0.8em;
          transition: 0.1s;
        }
      }
    }
    div.my_page_on_profile {
      font-size: 2em;
      font-weight: bold;
      margin: 0 1em 0 0;
      position: relative;
      bottom:0.3em;
    }
  }
}

.profile_container {
  display: flex;
  background-color: white;
  margin: 0 2em 0 2em;
  height: 30em;
  div.profile_left {
    border:1px solid $middle-grey;
    border-radius: 0.2em;
    width: 15em;
    margin:2em;
    padding:0.5em;
    div {
      text-align: center;
      margin-top: 1.3em;
    }
    img.profile_img {
      width: 12em;
      height: 12em;
      object-fit: cover;
    }
    img.profile_pic {
      width: 12em;
      height: 12em;
      object-fit: cover;
    }
    p.prof_name {
      text-align: center;
      font-size: 1.5em;
    }
    p.prof_gender {
      text-align: center;
      font-size: 1.2em;
    }
    p.prof_age {
      text-align: center;
      font-size: 1.2em;
    }
    p.edit_name {
      margin-top: 1.5em;
      text-align: center;
      font-size: 0.8em;
      input[type="text"] {
        font-size: 1em;
        padding: 0;
        border: solid thin $middle-grey;
        border-radius: 0.2em;
        &:focus {
          font-size: 1em;
          border: solid thin $dark-pink;
          outline: 0;
          border-radius: 0.2em;
        }
      }
    }
    p.edit_gender {
      margin-top: 0.5em;
      text-align: center;
      font-size: 0.8em;
      padding: 0;
    }
    p.edit_age {
      margin-top: 0.5em;
      text-align: center;
      font-size: 0.8em;
      padding: 0;
    }
  }
  div.profile_right {
    width: 25em;
    margin: 2em 1em 0 1em;
    padding-right: 1em;
    div.prof_area {
      color: $dark-grey;
      height: 10em;
      h2 {
        margin: 0;
        padding: 0;
        color: $dark-grey;
      }
      p {
        margin: 0;
        padding: 0;
        font-size: 2em;
      }
    }
    div.prof_intro {
      color: $dark-grey;
      margin-top: 1em;
      height: 8em;
      width:auto;
    }
    div.edit_intro {
      font-size: 1em;
      position: absolute;
      bottom: 8.2em;
      color: $dark-grey;
      margin-top: 1em;
      height: auto;
      width:25em;
      textarea {
        font-size: 1.2em;
        color: $dark-grey;
        border: solid thin $middle-grey;
        border-radius: 0.2em;
        resize: none;
        height: 10em;
        width: 100%;
        padding: 0.2em;
        &:focus {
          border: solid thin $dark-pink;
          outline: 0;
          border-radius: 0.2em;
        }
      }
    }
    div.profile_update_button {
      position: absolute;
      padding-top: 1.2em;
      top: 0.1em;
      right: 2em;
      input[type="submit"] {
        height: 2em;
        line-height: 0;
        width: auto;
        border-style: none;
        font-size: 1.2em;
        white-space: nowrap;
        padding: 0 1em;
        border-radius: 1em;
        color: $dark-grey;
        background-color: white;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transition: 0.1s;
          color: black;
        }
      }
    }
    div.request_button {
      padding-top: 4.1em;
      display: flex;
      justify-content: center;
      input[type="submit"] {
        height: 2.1em;
        line-height: 0;
        width: auto;
        border-style: none;
        font-size: 1.2em;
        white-space: nowrap;
        padding: 0 1em;
        border-radius: 1em;
        color: white;
        background-color: $dark-pink;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transition: 0.1s;
          color: white;
          opacity: 0.8;
        }
      }
    }
    div.approval_button {
      padding-top: 4.1em;
      display: flex;
      justify-content: center;
      input[type="submit"] {
        height: 2.1em;
        line-height: 0;
        width: auto;
        border-style: none;
        font-size: 1.2em;
        white-space: nowrap;
        padding: 0 1em;
        border-radius: 1em;
        color: white;
        background-color: $dark-pink;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transition: 0.1s;
          color: white;
          opacity: 0.8;
        }
      }
    }
    div.confirm_button {
      padding-top: 4.1em;
      display: flex;
      justify-content: space-between;
      input[type="submit"] {
        height: 2.1em;
        line-height: 0;
        width: auto;
        border-style: none;
        font-size: 1.2em;
        white-space: nowrap;
        padding: 0 1em;
        border-radius: 1em;
        color: white;
        background-color: $dark-pink;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transition: 0.1s;
          color: white;
          opacity: 0.8;
        }
      }
      a {
        height: 2.1em;
        line-height: 2.1em;
        width: auto;
        border-style: none;
        font-size: 1.2em;
        white-space: nowrap;
        padding: 0 1em;
        border-radius: 1em;
        color: white;
        background-color: $dark-pink;
        transition: 0.3s;
        &:hover {
          cursor: pointer;
          transition: 0.1s;
          color: white;
          opacity: 0.8;
        }
      }
    }
  }
  form {
    display: flex;
    div.edit_prof_img {
      width: 12em;
      height: 12em;
      margin: 1.3em auto 0 auto;
      text-align: center;
      background-color: $light-grey;
      #img_prev {
        z-index: 2;
      }
      img {
        object-fit: cover;
        width: 12em;
        height: 12em;
        z-index: 1;
      }
      label {
        display:block;
        position: absolute;
        z-index: 1;
        top: 8.75em;
        width: 9.9em;
        height: 9.9em;
        color: white;
        background-color: red($color: #000000);
        padding: 1em;
        border: solid 0.05em $middle-grey;
      }
      input[type="file"] {
        display: none;
      }
      div.img_submit_label {
        position: absolute;
        z-index: 0;
        top: 8.8em;
        width: 12em;
        height: 9.35em;
        margin: 0 auto;
        padding-top: 2.7em;
        background-color: white;
        opacity: 0.7;
        p {
          color: black;
          font-weight: bold;
        }
      }
    }
  }
}

.right_culumn_container {
  width: 80em; /* 共通の横幅 =1280px */
  margin:0 auto;
}

.notification_box {
  margin: 5.3em 5em -3em 5em;
  width: auto;
  text-align: center;
  font-weight:bold;
  p {
    color: white;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    &::before {
      content: "";
      display: inline-block;
      background-image: url(bell.png);
      background-size: contain;
      width: 1em;
      height: 1em;
    }
  }
  a {
    display: block;
    width: auto;
    padding: 0.5em;
    background-color: $dark-pink;
    border-radius: 20em;
    height: 1.5em;
    font-size: 1.6em;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

.confirm_box {
  margin: 5.3em 5em -3em 5em;
  width: auto;
  text-align: center;
  font-weight:bold;
  a {
    display: block;
    width: auto;
    padding: 0.5em;
    background-color: $dark-pink;
    border-radius: 20em;
    height: 1.5em;
    font-size: 1.6em;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

.cancel_box {
  margin: 5.3em 5em -3em 5em;
  width: auto;
  text-align: center;
  font-weight:bold;
  a {
    display: block;
    width: auto;
    padding: 0.5em;
    background-color: $dark-green;
    border-radius: 20em;
    height: 1.5em;
    font-size: 1.6em;
    color: white;
    &:hover {
      opacity: 0.8;
    }
  }
}

.main_box_on_confirm_page {
  position: relative;
  background-color: $dark-pink;
  width: auto;
  height: 37em;
  margin: 5em 5em 0 5em;
  border-radius: 0.2em;
  z-index: 0;
  div.profile_header {
    color: $dark-grey;
    height: 3em;
    margin: 1em 2em 0.4em 2em;
    padding-top: 1.5em;
    top: 0;
    background-color: $dark-pink;
    display: flex;
    justify-content: space-between;
    p {
      color: white;
      font-size: 1.3em;
      position: absolute;
      top: 0.2em;
    }
    a.back_to_users {
      font-size: 1.3em;
      color: $dark-grey;
      transition: 0.3s;
      padding-left: 0.5em;
      &::before {
        content: "";
        position: absolute;
        left:1.6em;
        top: 1.5em;
        width: 0;
        height: 0;
        border-top: 0.4em solid transparent;
        border-bottom: 0.4em solid transparent;
        border-right: 0.8em solid $dark-grey;
        transition: 0.3s;
      }
      &:hover {
        color: black;
        transition: 0.1s;
        &::before {
          content: "";
          position: absolute;
          left:1.6em;
          top: 1.5em;
          width: 0;
          height: 0;
          border-top: 0.4em solid transparent;
          border-bottom: 0.4em solid transparent;
          border-right: 0.8em solid black;
          transition: 0.1s;
        }
      }
    }
    a.edit_on_my_page {
      font-size: 1.3em;
      color: $dark-grey;
      transition: 0.3s;
      padding-right: 1.1em;
      &::after {
        content: "";
        display: inline-block;
        background-image: url(pencil.png);
        background-size: contain;
        position: absolute;
        right:1.6em;
        top: 1.5em;
        width: 0.8em;
        height: 0.8em;
        transition: 0.3s;
      }
      &:hover {
        color: black;
        transition: 0.1s;
        &::after {
          content: "";
          display: inline-block;
          background-image: url(pencil_black.png);
          background-size: contain;
          position: absolute;
          right:1.6em;
          top: 1.5em;
          width: 0.8em;
          height: 0.8em;
          transition: 0.1s;
        }
      }
    }
    div.my_page_on_profile {
      font-size: 2em;
      font-weight: bold;
      margin: 0 1em 0 0;
      position: relative;
      bottom:0.3em;
    }
  }
}